@import url("https://fonts.bunny.net/css?family=Nunito");

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 832px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_436 {
  width: 72px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 22px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3_37 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v3_39 {
  width: 80px;
  height: 74px;
  background: url("../images/v3_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 483px;
  overflow: hidden;
}
.v5_40 {
  width: 227px;
  height: 254px;
  background: rgba(185,230,111,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 428px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_64 {
  width: 312px;
  height: 550px;
  background: rgba(185,230,111,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 59px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_47 {
  width: 227px;
  height: 254px;
  background: rgba(185,230,111,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 709px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_49 {
  width: 227px;
  height: 254px;
  background: rgba(185,230,111,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 990px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_50 {
  width: 227px;
  height: 254px;
  background: rgba(185,230,111,1);
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 428px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_54 {
  width: 227px;
  height: 254px;
  background: rgba(185,230,111,1);
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 997px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v7_71 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 684px;
  left: 997px;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_67 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 391px;
  left: 428px;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_66 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 391px;
  left: 709px;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_68 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 391px;
  left: 990px;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v6_55 {
  width: 227px;
  height: 254px;
  background: rgba(185,230,111,1);
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 720px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_46 {
  width: 227px;
  height: 187px;
  background: url("../images/v6_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 428px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_51 {
  width: 227px;
  height: 177px;
  background: url("../images/v6_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 709px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_52 {
  width: 227px;
  height: 187px;
  background: url("../images/v6_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 990px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_53 {
  width: 177px;
  height: 180px;
  background: url("../images/v6_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 453px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_58 {
  width: 188px;
  height: 159px;
  background: url("../images/v6_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 1012px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_59 {
  width: 223px;
  height: 179px;
  background: url("../images/v6_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 505px;
  left: 720px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v7_65 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 391px;
  left: 428px;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_69 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 684px;
  left: 428px;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_70 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 684px;
  left: 720px;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_74 {
  width: 262px;
  height: 500px;
  background: rgba(255,255,255,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 82px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v7_73 {
  width: 289px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 232px;
  left: 69px;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v21_5 {
  width: 93px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 993px;
  overflow: hidden;
}
.v21_6 {
  width: 137px;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 1114px;
  overflow: hidden;
}
.v21_7 {
  width: 242px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 1009px;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
